@tailwind base;
@tailwind components;
@tailwind utilities;



@media(max-width: 639px){
     .maincontentsearch{
        height: 100%;
        width: 100%;
     }
}
@media (max-width: 639px) {
        .container {
            /* Estilos que se aplican a pantallas más pequeñas */
            /* Puedes sobrescribir o ajustar los estilos si es necesario */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #1a0140;
            color: white;
            padding: 1rem;
            overflow: hidden;
        }
    }
body{
        background-color: #1A0140;
}

 .ais-SearchBox {
  margin-bottom: 1em;
}



.ais-Hits-list .ais-Hits-item {
  margin-left: 0;
  width: 100%;
}

.ais-Hits-item img {
  margin-right: 1em
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}